
NET "Reset" LOC = AA7;
NET "VME_ADDR_DIR_o" LOC = F20;
NET "VME_ADDR_OE_N_o" LOC = F19;
NET "VME_AM_i[0]" LOC = G19;
NET "VME_AM_i[1]" LOC = G16;
NET "VME_AM_i[2]" LOC = H19;
NET "VME_AM_i[3]" LOC = H18;
NET "VME_AM_i[4]" LOC = H17;
NET "VME_AM_i[5]" LOC = J17;
NET "VME_DATA_b[0]" LOC = A22;
NET "VME_DATA_b[1]" LOC = B22;
NET "VME_DATA_b[2]" LOC = A23;
NET "VME_DATA_b[3]" LOC = B23;
NET "VME_DATA_b[4]" LOC = B24;
NET "VME_DATA_b[5]" LOC = A25;
NET "VME_DATA_b[6]" LOC = B25;
NET "VME_DATA_b[7]" LOC = B26;
NET "VME_DATA_b[8]" LOC = C25;
NET "VME_DATA_b[9]" LOC = C26;
NET "VME_DATA_b[10]" LOC = D26;
NET "VME_DATA_b[11]" LOC = E25;
NET "VME_DATA_b[12]" LOC = E26;
NET "VME_DATA_b[13]" LOC = F26;
NET "VME_DATA_b[14]" LOC = G25;
NET "VME_DATA_b[15]" LOC = G26;
NET "VME_DATA_b[16]" LOC = E16;
NET "VME_DATA_b[17]" LOC = H15;
NET "VME_DATA_b[18]" LOC = J15;
NET "VME_DATA_b[19]" LOC = W20;
NET "VME_DATA_b[20]" LOC = W19;
NET "VME_DATA_b[21]" LOC = AB19;
NET "VME_DATA_b[22]" LOC = AA19;
NET "VME_DATA_b[23]" LOC = W18;
NET "VME_DATA_b[24]" LOC = Y17;
NET "VME_DATA_b[25]" LOC = AA17;
NET "VME_DATA_b[26]" LOC = W17;
NET "VME_DATA_b[27]" LOC = W16;
NET "VME_DATA_b[28]" LOC = AA16;
NET "VME_DATA_b[29]" LOC = Y16;
NET "VME_DATA_b[30]" LOC = Y15;
NET "VME_DATA_b[31]" LOC = W14;

NET "VME_IACK_n_i" LOC = F18;  
NET "VME_RETRY_OE_o" LOC = F17;
NET "VME_RETRY_n_o" LOC = G17;
NET "VME_RST_n_i" LOC = J16;
#NET "VmeTck_i" LOC = D22;
#NET "VmeTdi_i" LOC = C21;
#NET "VmeTdo_o" LOC = B21;
#NET "VmeTms_i" LOC = D21;
NET "VME_WRITE_n_i" LOC = E20;







#NET "FpLed_onb8_5" LOC = U3;
#NET "FpLed_onb8_6" LOC = U4;

NET "VME_AS_n_i" LOC = K14;
NET "VME_BERR_o" LOC = V18;
#NET "VmeDDirVfcToVdme_o" LOC = L9;
NET "VME_DATA_DIR_o" LOC = L9;


NET "VME_IACKIN_n_i" LOC = AA15;
NET "VME_IACKOUT_n_o" LOC = AB14;
NET "VME_IRQ_n_o[0]" LOC = L7;
NET "VME_IRQ_n_o[3]" LOC = M3;
NET "VME_IRQ_n_o[4]" LOC = M4;
NET "VME_IRQ_n_o[5]" LOC = N3;
NET "VME_IRQ_n_o[6]" LOC = M6;
#NET "VmeP0LvdsBunchClkIn_i" LOC = AE15;
#NET "VmeP0LvdsBunchClkOut_o" LOC = AF15;
#NET "VmeSysClk_ik" LOC = L8;
NET "VME_ADDR_b[1]" LOC = M24;
NET "VME_ADDR_b[2]" LOC = M21;
NET "VME_ADDR_b[3]" LOC = L21;
NET "VME_ADDR_b[4]" LOC = K22;
NET "VME_ADDR_b[5]" LOC = K24;
NET "VME_ADDR_b[6]" LOC = K21;
NET "VME_ADDR_b[7]" LOC = J22;
NET "VME_ADDR_b[8]" LOC = J24;
NET "VME_ADDR_b[9]" LOC = J23;
NET "VME_ADDR_b[10]" LOC = H21;
NET "VME_ADDR_b[11]" LOC = H24;
NET "VME_ADDR_b[12]" LOC = H22;
NET "VME_ADDR_b[13]" LOC = G24;
NET "VME_ADDR_b[14]" LOC = G23;
NET "VME_ADDR_b[15]" LOC = F23;
NET "VME_ADDR_b[16]" LOC = F24;
NET "VME_ADDR_b[17]" LOC = F22;
NET "VME_ADDR_b[18]" LOC = E24;
NET "VME_ADDR_b[19]" LOC = E23;
NET "VME_ADDR_b[20]" LOC = C24;
NET "VME_ADDR_b[21]" LOC = D23;
NET "VME_ADDR_b[22]" LOC = D24;
NET "VME_ADDR_b[23]" LOC = N26;
NET "VME_ADDR_b[24]" LOC = K18;
NET "VME_ADDR_b[25]" LOC = J20;
NET "VME_ADDR_b[26]" LOC = K19;
NET "VME_ADDR_b[27]" LOC = K20;
NET "VME_ADDR_b[28]" LOC = L19;
NET "VME_ADDR_b[29]" LOC = L20;
NET "VME_ADDR_b[30]" LOC = M18;
NET "VME_ADDR_b[31]" LOC = M19;
NET "VME_DATA_OE_N_o" LOC = K9;

NET "VME_DS_n_i[0]" LOC = H20;
NET "VME_DS_n_i[1]" LOC = G20;
NET "VME_DTACK_OE_o" LOC = J9;
NET "VME_DTACK_n_o" LOC = N25;
#NET "VmeGaP_in" LOC = J25;
NET "VME_GA_i[5]" LOC = J25;

NET "VME_GA_i[0]" LOC = J26;
NET "VME_GA_i[1]" LOC = K26;
NET "VME_GA_i[2]" LOC = L25;
NET "VME_GA_i[3]" LOC = L26;
NET "VME_GA_i[4]" LOC = M26;
NET "VME_IRQ_n_o[1]" LOC = J7;
NET "VME_IRQ_n_o[2]" LOC = K7;
NET "VME_LWORD_n_b" LOC = M23;



	

#NET "clk_i" LOC = H14;
NET "clk_i" LOC = B14;

#NET "Si57x_ik" LOC = B12;
#NET "Si57x_ikn" LOC = A12;
# PlanAhead Generated IO constraints 
#NET "FpLed_onb8_5" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_DIR_o" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_OE_o" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[1]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[2]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[3]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[4]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[5]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[6]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[7]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[8]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[9]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[10]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[11]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[12]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[13]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[14]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[15]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[16]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[17]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[18]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[19]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[20]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[21]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[22]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[23]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[24]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[25]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[26]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[27]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[28]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[29]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[30]" IOSTANDARD = LVCMOS33;
#NET "VME_ADDR_b[31]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[0]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[1]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[2]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[3]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[4]" IOSTANDARD = LVCMOS33;
#NET "VME_AM_i[5]" IOSTANDARD = LVCMOS33;
#NET "VME_AS_n_i" IOSTANDARD = LVCMOS33;
#NET "VME_BERR_o" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_DIR_o" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_OE_o" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[0]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[1]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[2]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[3]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[4]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[5]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[6]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[7]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[8]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[9]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[10]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[11]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[12]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[13]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[14]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[15]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[16]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[17]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[18]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[19]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[20]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[21]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[22]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[23]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[24]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[25]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[26]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[27]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[28]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[29]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[30]" IOSTANDARD = LVCMOS33;
#NET "VME_DATA_b[31]" IOSTANDARD = LVCMOS33;
#NET "VME_DS_n_i[0]" IOSTANDARD = LVCMOS33;
#NET "VME_DS_n_i[1]" IOSTANDARD = LVCMOS33;
#NET "VME_DTACK_OE_o" IOSTANDARD = LVCMOS33;
#NET "VME_DTACK_n_o" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[0]" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[1]" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[2]" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[3]" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[4]" IOSTANDARD = LVCMOS33;
#NET "VME_GA_i[5]" IOSTANDARD = LVCMOS33;
#NET "VME_LWORD_n_b" IOSTANDARD = LVCMOS33;
#NET "VME_RST_n_i" IOSTANDARD = LVCMOS33;
#NET "VME_WRITE_n_i" IOSTANDARD = LVCMOS33;
#NET "clk_i" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 
#NET "VME_IRQ_n_o[0]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[1]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[2]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[3]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[4]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[5]" IOSTANDARD = LVCMOS33;
#NET "VME_IRQ_n_o[6]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 
#NET "FpLed_onb8_6" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx150t-fgg676-3) - 2011/02/21
NET "clk_i" TNM_NET = "clk_i_group";
#TIMESPEC TS_clk_i = PERIOD "clk_i" 50 ns HIGH 50%;
#Created by Constraints Editor (xc6slx150t-fgg676-3) - 2011/06/30
TIMESPEC "TS_clk_i" = PERIOD "clk_i_group" 50 ns HIGH 50%;
# Add by Davide for debug
NET "leds[0]" LOC = P5;
NET "leds[1]" LOC = R4;
NET "leds[2]" LOC = R3;
NET "leds[3]" LOC = P6;
NET "leds[4]" LOC = R5;
NET "leds[5]" LOC = U3;
NET "leds[6]" LOC = U4;
NET "leds[7]" LOC = T4;

#logic level:
NET "VME_GA_i[0]" IOSTANDARD = LVCMOS33;
NET "VME_GA_i[1]" IOSTANDARD = LVCMOS33;
NET "VME_GA_i[2]" IOSTANDARD = LVCMOS33;
NET "VME_GA_i[3]" IOSTANDARD = LVCMOS33;
NET "VME_GA_i[4]" IOSTANDARD = LVCMOS33;
NET "VME_GA_i[5]" IOSTANDARD = LVCMOS33;
NET "VME_DS_n_i[0]" IOSTANDARD = LVCMOS33;
NET "VME_DS_n_i[1]" IOSTANDARD = LVCMOS33;
NET "VME_DTACK_n_o" IOSTANDARD = LVCMOS33;
NET "VME_LWORD_n_b" IOSTANDARD = LVCMOS33;
NET "VME_IACKIN_n_i" IOSTANDARD = LVCMOS33;
NET "VME_IACKOUT_n_o" IOSTANDARD = LVCMOS33;
NET "VME_IACK_n_i" IOSTANDARD = LVCMOS33;
NET "VME_WRITE_n_i" IOSTANDARD = LVCMOS33;
NET "VME_AS_n_i" IOSTANDARD = LVCMOS33;
NET "VME_BERR_o" IOSTANDARD = LVCMOS33;
NET "VME_RETRY_n_o" IOSTANDARD = LVCMOS33;
NET "VME_RETRY_OE_o" IOSTANDARD = LVCMOS33;
NET "VME_RST_n_i" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_DIR_o" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_OE_N_o" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[0]" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[1]" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[2]" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[3]" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[4]" IOSTANDARD = LVCMOS33;
NET "VME_AM_i[5]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[1]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[2]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[3]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[4]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[5]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[6]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[7]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[8]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[9]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[10]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[11]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[12]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[13]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[14]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[15]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[16]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[17]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[18]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[19]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[20]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[21]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[22]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[23]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[24]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[25]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[26]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[27]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[28]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[29]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[30]" IOSTANDARD = LVCMOS33;
NET "VME_ADDR_b[31]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[0]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[1]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[2]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[3]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[4]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[5]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[6]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[7]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[8]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[9]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[10]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[11]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[12]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[13]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[14]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[15]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[16]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[17]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[18]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[19]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[20]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[21]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[22]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[23]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[24]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[25]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[26]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[27]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[28]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[29]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[30]" IOSTANDARD = LVCMOS33;
NET "VME_DATA_b[31]" IOSTANDARD = LVCMOS33;


